@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/animations";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";
@import "./components/tags";

@import "./layout/header";
@import "./layout/footer";
@import "./layout/loader";

@import "./pages/index";
@import "./pages/menu"