@keyframes menuAppearance {
    0% {
      margin-top: 25px;
      opacity: 0;
    }
    100% {
      margin-top: 15px;
      opacity: 1;
    }
  }

  @keyframes favoris {
	0% {
        height: 0px;
	}
	100% {
        height: 25px;
	}
}  

@keyframes checkSpin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}



@keyframes load{
    0%{
        width: 0%;
        z-index: 10;
    }
    100%{
        width: 100%;
        z-index: -1;
    }
}

@keyframes bg{
    0%,99%{
        opacity: 1;
        z-index: 10;
    }
    100%{
        opacity: 0;
        z-index: -1;
    }
}